name: CI

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Grant execute permission to mvnw
        run: chmod +x mvnw

      - name: Run tests
        run: ./mvnw test

      - name: Package
        run: ./mvnw -DskipTests package

      - name: Build Docker image
        run: docker build -t quarkus-portfolio:ci .

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and tag Docker image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}
          docker build -t $IMAGE:${{ github.sha }} -t $IMAGE:latest .

      - name: Push Docker image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}
          docker push $IMAGE:${{ github.sha }}
          docker push $IMAGE:latest

